install/addons/n8n/workflows/01-qsecbit-defense-pipeline.json
{
  "name": "QSECBIT Autonomous Defense Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * * * *"
            }
          ]
        }
      },
      "id": "93c2c3a8-5e7f-4c8a-9b3d-1a2b3c4d5e6f",
      "name": "Every Minute Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://10.200.7.12:8888/api/qsecbit/latest",
        "authentication": "none",
        "requestMethod": "GET",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Get QSECBIT Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.score }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Risk Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://10.200.5.13:8123",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({query: 'INSERT INTO security.qsecbit_monitoring FORMAT JSONEachRow', data: JSON.stringify($json)}) }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Store Monitoring Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 450]
    },
    {
      "parameters": {
        "url": "http://10.200.8.15:8889/api/threat/deep-analysis",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Deep Threat Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 150]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "={{ JSON.stringify({status: 'Workflow executed successfully', timestamp: $now, qsecbit_score: $json.score}) }}"
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Every Minute Trigger": {
      "main": [
        [
          {
            "node": "Get QSECBIT Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get QSECBIT Score": {
      "main": [
        [
          {
            "node": "Risk Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Check": {
      "main": [
        [
          {
            "node": "Deep Threat Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Monitoring Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deep Threat Analysis": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Monitoring Data": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-26T00:00:00.000Z",
      "updatedAt": "2025-01-26T00:00:00.000Z",
      "id": "1",
      "name": "security"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-26T00:00:00.000Z",
  "versionId": "1"
}
