install/addons/n8n/workflows/02-attack-surface-mapper.json
{
  "name": "Continuous Attack Surface Mapper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "schedule-scan",
      "name": "Schedule Scan (Every 6 Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://10.200.8.15:8889/api/scanner/network-discovery",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ scan_type: 'full', include_services: true, detect_os: true }) }}"
      },
      "id": "network-discovery",
      "name": "Network Discovery Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://10.200.5.13:8123",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "SELECT device_id, ip_address, open_ports, services, last_seen FROM security.attack_surface ORDER BY last_seen DESC"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "format": "json"
            }
          }
        }
      },
      "id": "fetch-baseline",
      "name": "Fetch Baseline from ClickHouse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const current = $('Network Discovery Scan').item.json.devices || [];\nconst baseline = $('Fetch Baseline from ClickHouse').item.json.data || [];\n\nconst newDevices = [];\nconst changedPorts = [];\nconst changedServices = [];\n\ncurrent.forEach(device => {\n  const baselineDevice = baseline.find(b => b.ip_address === device.ip_address);\n  \n  if (!baselineDevice) {\n    newDevices.push(device);\n  } else {\n    // Check for port changes\n    const newPorts = device.open_ports.filter(p => !baselineDevice.open_ports.includes(p));\n    const closedPorts = baselineDevice.open_ports.filter(p => !device.open_ports.includes(p));\n    \n    if (newPorts.length > 0 || closedPorts.length > 0) {\n      changedPorts.push({\n        ip_address: device.ip_address,\n        new_ports: newPorts,\n        closed_ports: closedPorts\n      });\n    }\n    \n    // Check for service changes\n    const newServices = device.services.filter(s => !baselineDevice.services.some(bs => bs.port === s.port && bs.name === s.name));\n    \n    if (newServices.length > 0) {\n      changedServices.push({\n        ip_address: device.ip_address,\n        new_services: newServices\n      });\n    }\n  }\n});\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    new_devices: newDevices,\n    changed_ports: changedPorts,\n    changed_services: changedServices,\n    has_changes: newDevices.length > 0 || changedPorts.length > 0 || changedServices.length > 0\n  }\n};"
      },
      "id": "api-diff-engine",
      "name": "API Diff Engine (Detect Changes)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_changes }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-changes",
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "http://10.200.7.12:8888/api/qsecbit/analyze-surface-change",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}"
      },
      "id": "qsecbit-analysis",
      "name": "QSECBIT Learn Behavioral Baseline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "http://10.200.5.13:8123",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "INSERT INTO security.attack_surface_changes FORMAT JSONEachRow"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ timestamp: $json.timestamp, new_devices: JSON.stringify($json.new_devices), changed_ports: JSON.stringify($json.changed_ports), changed_services: JSON.stringify($json.changed_services), qsecbit_risk_score: $('QSECBIT Learn Behavioral Baseline').item.json.risk_score }) }}"
            }
          ]
        }
      },
      "id": "store-changes",
      "name": "Store Changes in ClickHouse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('QSECBIT Learn Behavioral Baseline').item.json.risk_score }}",
              "operation": "larger",
              "value2": 0.6
            }
          ]
        }
      },
      "id": "check-risk",
      "name": "Risk Score > 0.6?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "url": "http://10.200.1.12:8000/api/alerts/",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ title: 'Attack Surface Change Detected', content: 'New devices: ' + $json.new_devices.length + ', Changed ports: ' + $json.changed_ports.length + ', Risk score: ' + $('QSECBIT Learn Behavioral Baseline').item.json.risk_score, severity: 'warning', timestamp: new Date().toISOString() }) }}"
      },
      "id": "alert-soc",
      "name": "Alert SOC Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "url": "http://10.200.5.13:8123",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "INSERT INTO security.attack_surface FORMAT JSONEachRow"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ timestamp: new Date().toISOString(), devices: JSON.stringify($('Network Discovery Scan').item.json.devices) }) }}"
            }
          ]
        }
      },
      "id": "update-baseline",
      "name": "Update Baseline in ClickHouse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 450]
    }
  ],
  "connections": {
    "Schedule Scan (Every 6 Hours)": {
      "main": [
        [
          {
            "node": "Network Discovery Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Network Discovery Scan": {
      "main": [
        [
          {
            "node": "Fetch Baseline from ClickHouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Baseline from ClickHouse": {
      "main": [
        [
          {
            "node": "API Diff Engine (Detect Changes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Diff Engine (Detect Changes)": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "QSECBIT Learn Behavioral Baseline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Baseline in ClickHouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QSECBIT Learn Behavioral Baseline": {
      "main": [
        [
          {
            "node": "Store Changes in ClickHouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Changes in ClickHouse": {
      "main": [
        [
          {
            "node": "Risk Score > 0.6?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Score > 0.6?": {
      "main": [
        [
          {
            "node": "Alert SOC Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-26T00:00:00.000Z",
  "versionId": "1"
}
