install/addons/n8n/workflows/02-attack-surface-mapper.json
{
  "name": "Attack Surface Mapper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://10.200.8.15:8889/api/scanner/network-discovery",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({scan_type: 'full', include_services: true, detect_os: true}) }}",
        "options": {}
      },
      "id": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
      "name": "Network Discovery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://10.200.5.13:8123",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({query: 'SELECT device_id, ip_address, open_ports, services FROM security.attack_surface ORDER BY last_seen DESC'}) }}",
        "options": {}
      },
      "id": "b3c4d5e6-f7a8-4b9c-0d1e-2f3a4b5c6d7e",
      "name": "Get Baseline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Compare current scan with baseline\nconst current = $input.first().json.devices || [];\nconst baseline = $input.last().json.data || [];\n\nconst changes = {\n  new_devices: [],\n  changed_ports: [],\n  timestamp: new Date().toISOString(),\n  has_changes: false\n};\n\n// Detect new devices\ncurrent.forEach(device => {\n  const exists = baseline.find(b => b.ip_address === device.ip_address);\n  if (!exists) {\n    changes.new_devices.push(device);\n    changes.has_changes = true;\n  } else {\n    // Check for port changes\n    const newPorts = device.open_ports.filter(p => !exists.open_ports.includes(p));\n    if (newPorts.length > 0) {\n      changes.changed_ports.push({\n        ip_address: device.ip_address,\n        new_ports: newPorts\n      });\n      changes.has_changes = true;\n    }\n  }\n});\n\nreturn { json: changes };"
      },
      "id": "c4d5e6f7-a8b9-4c0d-1e2f-3a4b5c6d7e8f",
      "name": "Diff Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.has_changes }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5e6f7a8-b9c0-4d1e-2f3a-4b5c6d7e8f9a",
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "http://10.200.5.13:8123",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({query: 'INSERT INTO security.attack_surface_changes FORMAT JSONEachRow', data: JSON.stringify($json)}) }}",
        "options": {}
      },
      "id": "e6f7a8b9-c0d1-4e2f-3a4b-5c6d7e8f9a0b",
      "name": "Store Changes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "={{ JSON.stringify({status: 'Scan complete', timestamp: $now, changes: $json.has_changes}) }}"
      },
      "id": "f7a8b9c0-d1e2-4f3a-4b5c-6d7e8f9a0b1c",
      "name": "Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Network Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Network Discovery": {
      "main": [
        [
          {
            "node": "Get Baseline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Baseline": {
      "main": [
        [
          {
            "node": "Diff Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff Engine": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Store Changes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Changes": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-26T00:00:00.000Z",
      "updatedAt": "2025-01-26T00:00:00.000Z",
      "id": "2",
      "name": "security"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-26T00:00:00.000Z",
  "versionId": "1"
}
